PORT=5000
MONGODB_URL=mongodb://localhost/codecoursez-backend
JWT_SECRET_KEY=very-secret-key
EMAIL_VERIFICATION=
EMAIL=
EMAIL_PASSWORD=
CODEFORCES_SCRAPER_URL=http://localhost:5200
CODEFORCES_SCRAPER_API_KEY=
